
.sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.logo{
    font-weight:99px;
    font-size: 34px
    ;
    color: #4E47FF;
    height: 51px;
    wei
    width: 150%;
    font-size:


}
.btn-1{
    background-color:#4e47ff;
    border-radius:5px;
    height: 48px;
    font-weight: bold;
     color: white;
     border: none;
     padding: 12px 36px;
     
    

}
nav {
    display: flex;
    justify-content: space-between;
    margin:0 150px;
    padding: 50px;
   
}


.banner{
    text-align: center;
    margin:  267px 152px ;
    height: 309px;
    font-weight: 905px;
}
.back-bg{
background-image: url('../Assets/Hero-bg.png')
}

.ban{
    font-weight: 905px;
    font-size: 65px;
    color: #252432;
    margin: 0 auto;
    width: 100%;
    height: 152px;

}



}
.h1-action{
    color: #252432;
    font-size: 42px;
    font-weight: bold;

}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.Action{
    color: #474747;
    font-size: 24px;
    font-weight: 400px;
    height: 60px;
}
.action-part{
   
    justify-content: space-between;
    display: flex;
   gap: 23px;
}

.ac-p{
 align-items: center;


}
 img{
    border-radius: 45px;
    height: 328px;
    font-weight: 403px;
    align-items: right;

}
.title{
    display: flex;
    justify-content: space-around;
    padding: none;
    margin: none;
   
    
}
.user-title{
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    text-align:center ;
    padding: 60px;
}
.header{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
section .user-section{
    background-color: #ada2a231;
    border-radius: 24px;
    box-sizing:border-box;
    gap: 10px;
   

}
.sub-title{
    color: #474747;
    font-size: 20px;
   
}
.user-section-2 .sub-title{
    margin-bottom: 10px;
    padding: none;
    
}
.section-title{
    font-size: 97px;
    font-weight: bold;
    align-items: center;
    gap: auto;
    padding: 15px;
    align-items: left;
}

.colum{
    text-align:left center;
}
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
      max-width: 1140px;
    margin: 0 auto;
}
.footer-colum{
    width: 100%;
     display: flex;
     justify-content: space-between;
     

}
    footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 10px;
    background-color: #D6DDED;
    display: block;
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 35px;
    border: 30px; 
    color: #000000; 
    border: #fffdfd;
    gap: 19px;
    box-shadow: 15px;
    box-sizing: content-box;

}
    section{
        padding: 15px;
        margin: auto;

    }
    input [type="text"]{
        box-shadow: 15px;
    }
    .container{
        padding: 30px;
        border-radius: 12px;
       border: 46px;
    }

.logo2{
    color: #4e47ff;
    font-size: 100px;
    text-align: center;
    align-items: center;

}
.small{
    color: #8987A1;
    text-align: center;
    gap: 20px;

}
.description{
    display: flex;
    align-items: center;
    gap: 88px;
}
.last-option{
    align-items: center;
    border: 12px;
    padding: 75px 255px;

}